[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "input-tool"
version = "1.6.3"
description = "Tool which simplifies creating and testing inputs for programming contests."
license = "MIT"
authors = ["jablkoj (Ján Hozza)", "fezjo (Jozef Číž)"]
maintainers = []
readme = "README.md"
repository = "https://github.com/fezjo/input-tool/"
keywords = ["benchmark", "contests", "competitive-programming", "tool"]
classifiers = [
    "Environment :: Console",
    "Operating System :: Unix",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Topic :: Software Development :: Testing",
    "Topic :: System :: Benchmark",
    "Typing :: Typed",
]
exclude = ["tests", ".git*"]

[tool.poetry.scripts]
input-sample = "input_tool.input_sample:main"
input-generator = "input_tool.input_generator:main"
input-tester = "input_tool.input_tester:main"

[tool.poetry.dependencies]
python = "^3.10"
requests = "^2.31.0"
pyyaml = "^6.0.1"

[tool.poetry.group.dev.dependencies]
ruff = "^0.0.291"
black = "^23.9.1"
mypy = "^1.5.1"
types-requests = "^2.31.0.6"
poethepoet = "^0.23.0"
types-pyyaml = "^6.0.12.12"

[tool.poetry.group.test.dependencies]
pytest = "^7.4.2"
pytest-black = "^0.3.12"
pytest-mypy = "^0.10.3"
pytest-sugar = "^0.9.7"
pytest-ruff = "^0.1.1"

[tool.poe.tasks]
black = "black ."
ruff = "ruff check ."
mypy = "mypy ."
test = "pytest ."
lint = ["black", "ruff"]
typecheck = ["mypy"]
checkall = ["lint", "typecheck"]
testall = "pytest --black --ruff --mypy ."

[tool.pytest.ini_options]
cache_dir = ".cache/.pytest_cache"

[tool.mypy]
cache_dir = ".cache/.mypy_cache"

[tool.ruff]
cache-dir = ".cache/.ruff_cache"
extend-select = ["I"]
extend-exclude = []
fix = true
